[core]
executor = LocalExecutor
dags_folder = {{ airflow_dags }}
plugins_folder = {{ airflow_plugins }}
load_examples = False
sql_alchemy_conn = {{ airflow_db_conn }}
fernet_key = {{ airflow_key | mandatory | b64encode }}

{% if airflow_base_url is defined %}
[webserver]
base_url = {{ airflow_base_url }}
enable_proxy_fix = True
{% endif %}

{% if airflow_from_email is defined %}
[email]
default_email_on_retry = False
from_email = {{ airflow_from_email }}

[smtp]
smtp_mail_from = {{ airflow_from_email }}
smtp_host = {{ airflow_mail_server }}
smtp_starttls = False
{% endif %}