[Unit]
Description=Airflow Scheduler
After=network.target

[Service]
User={{ airflow_user }}
Environment="LANG=de_DE.UTF-8"
Environment="LC_ALL=de_DE.UTF-8"
Environment="AIRFLOW_HOME={{ airflow_home }}"
WorkingDirectory={{ airflow_home }}
ExecStart=/usr/bin/pipenv run airflow scheduler
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target